{#
/**
 * @file
 * Default theme implementation for Omnipedia media group element.
 *
 * Available variables:
 *
 * - 'items': One or more media items, each containing the following keys:
 *
 *   - 'content': A media element render array.
 *
 *   - 'attributes': An Attribute object for the <li> element containing the
 *     media element.
 *
 * - 'align': The direction to float this media element ('left' or 'right'), or
 *   no floating (a value of 'none').
 *
 * - 'view_mode': The view mode to display the media entities as. Defaults to
 *   'omnipedia_embedded_group'.
 *
 * - 'caption': A caption for the entire media group.
 *
 * @ingroup themeable
 *
 * @todo Is there a better element we can use for the caption that has more
 *   appropriate semantics than a <p>?
 */
#}

{% set base_class = 'omnipedia-media-group' %}

<div{{ create_attribute({'class': [
  base_class,
  base_class ~ '--align-' ~ align,
]}) }}>
  <ol{{ create_attribute({'class': [base_class ~ '__list']}) }}>
  {% for item in items %}
    <li{{ item.attributes }}>{{ item.content }}</li>
  {% endfor %}
  </ol>

  {% if caption %}
    <div{{ create_attribute({'class': [
      base_class ~ '__caption',
    ]}) }}>

      {# Space before/after is required so Markdown is parsed correctly. #}
      {{ caption }}

    </div>
  {% endif %}
</div>
